[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "*"
anyio = "*"
asgiref = "*"
billiard = "*"
brotli = "*"
celery = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
click-didyoumean = "*"
click-plugins = "*"
click-repl = "*"
coreapi = "*"
coreschema = "*"
dj-database-url = "*"
django = "*"
django-cors-headers = "*"
django-environ = "*"
django-rest-swagger = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
flower = "*"
forex-python = "*"
gunicorn = "*"
h11 = "*"
httpcore = "*"
httpx = "*"
humanize = "*"
idna = "*"
inflection = "*"
itypes = "*"
jinja2 = "*"
jsonpickle = "*"
kombu = "*"
markupsafe = "*"
openapi-codec = "*"
packaging = "*"
pillow = "*"
prometheus-client = "*"
prompt-toolkit = "*"
psycopg2-binary = "*"
pyjwt = "*"
python-dateutil = "*"
python-decouple = "*"
pytz = "*"
pyyaml = "*"
requests = "*"
simplejson = "*"
six = "*"
sniffio = "*"
sqlparse = "*"
tornado = "*"
typing-extensions = "*"
tzdata = "*"
uritemplate = "*"
urllib3 = "*"
uvicorn = "*"
validators = "*"
vine = "*"
wcwidth = "*"
whitenoise = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.12"
