amqp
anyio
asgiref
billiard
Brotli
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
coreapi
coreschema
dj-database-url
Django
django-cors-headers
django-environ
django-rest-swagger
djangorestframework
djangorestframework_simplejwt
drf-yasg
flower
forex-python
gunicorn
h11
httpcore
httpx
humanize
idna
inflection
itypes
Jinja2
jsonpickle
kombu
MarkupSafe
openapi-codec
packaging
pillow
prometheus_client
prompt_toolkit
psycopg2-binary
PyJWT
python-dateutil
python-decouple
pytz
PyYAML
requests
simplejson
six
sniffio
sqlparse
tornado
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
validators
vine
wcwidth
whitenoise